/* ------------------------------------
    Drop down menu
    -----------------------------------
*/
/* Dropdown Button */
.dropbtn {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #202020;
}

/*.button-a {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
/*border-bottom: 1px solid #444;
cursor: pointer;
}*/

/*
    ----------------------------------------
    Flip Card
    ------------------------------------------
 */

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    text-align: center;
}

    .flip .card.flipped {
        -webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
    }

    .flip .card {
        width: 240px;
        height: 360px;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: 0.5s;
        transform-style: preserve-3d;
        transition: 0.5s;
        background-color: #fff;
        margin-bottom: 30px;
    }

        .flip .card .face {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }

        .flip .card .front {
            position: absolute;
            width: 240px;
            z-index: 1;
        }

            .flip .card .front img {
                width: 240px;
                height: 360px;
            }

        .flip .card .img {
            position: relative;
            width: 100%;
            max-width: 400px;
            height: auto;
            z-index: 1;
            border: 2px solid #000;
        }

        .flip .card .back {
            text-align: center;
            width: 240px;
            padding-top: 20%;
            margin: 0px;
            -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
            position: absolute;
            height: 360px;
            border: 1px solid black;
        }

.inner {
    margin: 0px !important;
    width: 240px;
}

a.disabled {
    pointer-events: none;
}

.orange {
    color: orange;
}