@*@using Microsoft.AspNetCore.Identity

    @inject UserManager<ApplicationUser> UserManager

    @model OnlineMovieStore.Web.Models.UserDepositViewModel

    <div class="container">

        <div class="col-md-4">
            <h3>Current</h3>
            <div class="form-inline">
                <div class="form-group">
                    <p>Current Account State: @Model.Balance</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Add More</h3>
            <form action="post">
                <div class="form-group">
                    <label for="depositAmount">Amount</label>
                    <input class="form-control" id="focusedInput" type="text">
                </div>
                <div class="form-group">
                    <label for="inputPassword"></label>
                    <button asp-action="UserDeposit" asp-controller="UserController" asp-route="@UserManager.GetUserId(User)" type="submit">Deposit</button>
                </div>
            </form>
        </div>
    </div>*@