
@{
    ViewData["Title"] = "Actors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actors</h2>

<div>
    <input type="button" value="AddActor" onclick="location.href='@Url.Action("AddActor", "ManageActors")'" />
</div>