<div class="page">
    <div class="breadcrumbs">
        <a href="index.html">Home</a>
        <span>About us</span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <figure><img src="~/images/sn-tigers_0.jpg" alt="figure image"></figure>
        </div>
        <div class="col-md-8">
            <p class="leading orange">About the project</p>
            <p>Our online movie store allows the user a unforgettable experience combined with the best prices on the market. We have the newest and most popular movies from all kinds of different genres.</p>
        </div>

        <div class="row">
            <div class="col-md-9">
                <h2 class="section-title orange">Project Functionality</h2>
                <p>
                    User:<br />
                    - Buy Movie - when you purchase a movie, it goes to your personal collection, and you can find it in MyMovies.<br />
                    - Deposit Funds - allows you to deposit funds to your account<br />
                    - Request Movies, Help Center, Edit Account Information, Watch Movies Trailers and many more.
                </p>
                <p>
                    Admin:<br />
                    - The admin has full CRUD functionality over the movies, actors and genres. He also has an Admin Panel which gives him <br /> access to all sorts of
                    statistics starting (users, movies, sales and many more).
                </p>
            </div>
            <div class="col-md-3">
                <h2 class="section-title orange">Useful Links</h2>
                <ul class="arrow">
                    <li><a href="https://github.com/jstavrev/VKS-public">Project repository</a></li>
                    <li><a href="https://trello.com/b/zHLaIp7t/online-movie-store">Project Trello</a></li>
                </ul>
            </div>
        </div> <!-- .row -->

        <h2 class="section-title orange" align="center">Our Team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <h2 class="team-name">Martin Kacarov</h2>
                    <small class="team-title">Team Leader</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <h2 class="team-name">Ioan Stavrev</h2>
                    <small class="team-title">Developer</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <h2 class="team-name">Stefan Veselinov</h2>
                    <small class="team-title">Developer</small>
                </div>
            </div>
        </div>
    </div>
</div>