@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group list-group-flush">
    <h2>Most popular movies </h2>
    @foreach (var movie in Model.Movies)
    {
        <li class="list-group-item">
            <p><a asp-controller="Movies" asp-action="Details" asp-route-title="@movie.Title"> @movie.Title<span>(@movie.Year)</span></a></p>
        </li>
    }
</ul>