@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
    <div class="dropdown">

        <button class="dropbtn " disabled>@UserManager.GetUserName(User) </button>
        <ul class="dropdown-content  list-group">
            <li class="list-group-item" align="center"><i class="glyphicon glyphicon-eur"></i>@ViewData["Balance"]</li>
            <li class="list-group-item" align="center"><a href="/User/User/MyMovies/@UserManager.GetUserId(User)">MyMovies</a></li>
            <li class="list-group-item" align="center"><a href="/User/User/Index/">Account</a></li>
            <li class="list-group-item" align="center"><a href="/User/User/RequestMovie">Request Movie</a></li>
            <li class="list-group-item" align="center"><a href="/User/User/Help">Help Center</a></li>
            <li align="center">
                <button class="btn btn-link list-group-item" type="submit">Logout</button>
            </li>
        </ul>

        <button style="background : #FFFFFF;" class="menu-item glyphicon-glyphicon-eur">
            @{
                var a = UserManager.GetUserAsync(User);
            }
        </button>
    </div>
</form>

}
else
{

    <li class="menu-item"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li class="menu-item"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>

}