@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-right">
        <div class="dropdown">
            <button class="dropbtn">@UserManager.GetUserName(User)</button>
            <div class="dropdown-content">
                <a asp-area="Identity" asp-page="" title="Manage">My Movies</a>
                <a asp-area="Identity" asp-page="" title="Manage">Orders</a>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                <a asp-area="Identity" asp-page="" title="Manage">Request</a>
                <a asp-area="Identity" asp-page="" title="Manage">Help Center</a>
                <a asp-area="Identity" asp-page="/Account/Logout" method="post" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" id="logoutForm">SignOut</a>
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}